.background{
    background-image: url('../../assets/images/homebackground.jpg');    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron{
    margin-left: 2%;
    margin-right: 2%;    
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 0%;        
}

.jumbotron h1{
    font-family: hothamFont;
    font-size: 7em;
}

.quotes-form{
    background-color: rgb(211, 211, 211,0.8);
    padding: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.quotes-content{
    max-height: 30em;
    overflow-y: scroll;
    padding-left: 2em;
    padding-right: 2em;    
}

.quotes-content::-webkit-scrollbar{
    visibility: hidden;
}

.card{
    background-color: rgb(211, 211, 211);
    margin: 0%;    
}

.card p{
    line-height: 0.5em;
}

.deleteQuote{
    font-size: large;
}

.margin-b{
    margin-bottom: 2em;
}